<footer class="footer l-containerhorizontal">
  <nav class="social l-containervertical-offset">
    <h1 class="title social-x-title">Open Badges Social Media</h1>
    <ul>
      <li>
        <a href="https://twitter.com/openbadges" class="social-x-link social-twitter">Twitter</a>
      </li>
      <li>
        <a href="https://www.facebook.com/OpenBadges/" class="social-x-link social-facebook">Facebook</a>
      </li>
    </ul>
  </nav>

  <nav class="menu menu-secondary">
    <h1 class="title menu-x-title">Secondary Navigation</h1>
    <ul>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/faq">FAQs</a></li>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/press-assets">Press Assets</a></li>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/badge-alliance/#mailing-lists">Mailing Lists</a></li>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>

    <p class="small copyright l-containerhorizontal">&copy; Copyright 2016 <span>Badge Alliance</span></p>
  </nav>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/menu.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/tableofcontents.js"></script>
