<footer class="footer l-containerhorizontal">
  <nav class="social l-containervertical-offset">
    <h1 class="title social-x-title">Open Badges Social Media</h1>
    <ul>
      <li>
        <a href="#" class="social-x-link social-twitter">Twitter</a>
      </li>
      <li>
        <a href="#" class="social-x-link social-facebook">Facebook</a>
      </li>
    </ul>
  </nav>

  <nav class="menu menu-secondary">
    <h1 class="title menu-x-title">Secondary Navigation</h1>
    <ul>
      <li class="menuitem menuitem-secondary"><a href="#">FAQs</a></li>
      <li class="menuitem menuitem-secondary"><a href="#">Press Assets</a></li>
      <li class="menuitem menuitem-secondary"><a href="#">Mailing Lists</a></li>
      <li class="menuitem menuitem-secondary"><a href="#">Contact</a></li>
    </ul>

    <p class="small copyright l-containerhorizontal">&copy; Copyright 2016 <span>Badge Alliance</span></p>
  </nav>
</footer>

<!-- TODO: Make URL absolute from root /js/menu.js -->

<script type="text/javascript" src="{{ site.baseurl }}/js/menu.js"></script>