<footer class="l-onecol l-containerhorizontal company-logos">
    <ul>
      <li>
        <a href="https://www.mozilla.org/en-US/foundation/"><img src="{{ site.baseurl }}/images/members/mozillafoundation-logo.png" alt="Mozilla"></a>
      </li>
      <li>
        <a href="https://www.macfound.org/"><img src="{{ site.baseurl }}/images/members/macaurthurfoundation-logo.png" alt="MacArthur Foundation"></a>
      </li>
      <li>
        <a href="https://www.lrng.org/"><img src="{{ site.baseurl }}/images/members/lrng-logo.png" alt="LRNG"></a>
      </li>
      <li>
        <a href="https://www.imsglobal.org/"><img src="{{ site.baseurl }}/images/members/imsglobal-logo.png" alt="IMS Global"></a>
      </li>
    </ul>
</footer>
<footer class="footer l-containerhorizontal">
   <nav class="social l-containervertical-offset">
    <h1 class="title social-x-title">Open Badges Social Media</h1>
    <ul>
      <li>
        <a href="https://twitter.com/openbadges" class="social-x-link social-twitter">Twitter</a>
      </li>
    </ul>
  </nav>

  <nav class="menu menu-secondary">
    <h1 class="title menu-x-title">Secondary Navigation</h1>
    <ul>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/faq">FAQs</a></li>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/press-assets">Press Assets</a></li>
      <li class="menuitem menuitem-secondary"><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>

    <p class="small copyright l-containerhorizontal">&copy; Copyright 2016 <span>Badge Alliance</span></p>
  </nav>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/js/menu.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/tableofcontents.js"></script>
<style type="text/css">
  .company-logos {
    border-top: 1px solid rgba(24, 40, 51, 0.1);
  }
  .company-logos img{
    width: 75%;
  }
  .company-logos ul {
    display: flex;
    padding: 20px 0;
  }
</style>