<nav id="menu" class="menu l-containerhorizontal l-containerhorizontal-small">
  <h1 class="title title-fill menu-x-title">Navigation</h1>
  <ul>
    <li class="menuitem menuitem-home"><a href="/">Home</a></li>
    <li class="menuitem"><button class="menu-button" aria-controls="menuabout"><span class="visuallyhidden">Toggle</span> About <span class="visuallyhidden">Menu</span></button>
      <ul id="menuabout" class="menu-children" aria-hidden="true">
        <li class="menuitem menuitem-child"><a href="#">Overview</a></li>
        <li class="menuitem menuitem-child"><a href="#">Resources</a></li>
        <li class="menuitem menuitem-child"><a href="#">Participants</a></li>
        <li class="menuitem menuitem-child"><a href="#">Earn Badges</a></li>
      </ul>
    </li>
    <li class="menuitem"><a href="#">Specification</a></li>
    <li class="menuitem"><button class="menu-button" aria-controls="menugetstarted"><span class="visuallyhidden">Toggle</span> Get Started <span class="visuallyhidden">Menu</span></button>
      <ul id="menugetstarted" class="menu-children" aria-hidden="true">
        <li class="menuitem menuitem-child"><a href="#">Overview</a></li>
        <li class="menuitem menuitem-child"><a href="#">Get Invovled</a></li>
        <li class="menuitem menuitem-child"><a href="#">Display Open Badges</a></li>
        <li class="menuitem menuitem-child"><a href="#">Badge System Design</a></li>
      </ul>
    </li>
    <li class="menuitem"><a href="#">News</a></li>
    <li class="menuitem"><button class="menu-button" aria-controls="menubadgealliance"><span class="visuallyhidden">Toggle</span> Badge Alliance <span class="visuallyhidden">Menu</span></button>
      <ul id="menubadgealliance" class="menu-children" aria-hidden="true">
        <li class="menuitem menuitem-child"><a href="#">Overview</a></li>
        <li class="menuitem menuitem-child"><a href="#">Working Groups</a></li>
        <li class="menuitem menuitem-child"><a href="#">Members</a></li>
        <li class="menuitem menuitem-child"><a href="#">Speaker List</a></li>
        <li class="menuitem menuitem-child"><a href="#">Events</a></li>
        <li class="menuitem menuitem-child"><a href="#">Team</a></li>
      </ul>
    </li>
  </ul>
</nav>