<nav id="menu" class="menu l-containerhorizontal l-containerhorizontal-small">
  <h1 class="title title-fill menu-x-title">Navigation</h1>
  <ul>
    <li class="menuitem menuitem-home"><a href="{{ site.baseurl }}/">Home</a></li>

    <li class="menuitem"><button class="menu-button" aria-controls="menugetstarted"><span class="visuallyhidden">Toggle</span> Get Started <span class="visuallyhidden">Menu</span></button>
      <ul id="menugetstarted" class="menu-children" aria-hidden="true">
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started">Overview</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/earning-badges">Earn Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/issuing-badges">Issue Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/displaying-badges">Display Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/understanding-badges">Understand Badges</a></li>
      </ul>
    </li>

    <li class="menuitem"><a href="{{ site.baseurl }}/developers">Developers</a></li>

    <li class="menuitem"><a href="{{ site.baseurl }}/community">Community</a></li>

    <li class="menuitem"><a href="{{ site.baseurl }}/news">News</a></li>

    <li class="menuitem"><button class="menu-button" aria-controls="menuabout"><span class="visuallyhidden">Toggle</span> About <span class="visuallyhidden">Menu</span></button>
      <ul id="menuabout" class="menu-children" aria-hidden="true">
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/about">About Open Badges</a>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/about/participating-issuers">Participating Issuers</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/about/participating-services">Participating Services</a></li>
      </ul>
    </li>
  </ul>
</nav>
