<nav id="menu" class="menu l-containerhorizontal l-containerhorizontal-small">
  <h1 class="title title-fill menu-x-title">Navigation</h1>
  <ul>
    <li class="menuitem menuitem-home"><a href="{{ site.baseurl }}/">Home</a></li>

    <li class="menuitem"><button class="menu-button" aria-controls="menugetstarted"><span class="visuallyhidden">Toggle</span> Get Started <span class="visuallyhidden">Menu</span></button>
      <ul id="menugetstarted" class="menu-children" aria-hidden="true" onclick="toggle_visibility('menugetstarted');">
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started">Get Started</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/earning-badges">Earn Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/issuing-badges">Get Started Issuing Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/participating-issuers">Participating Issuers</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/participating-services">Participating Services</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/displaying-badges">Displaying Badges</a></li>
        <li class="menuitem menuitem-child"><a href="{{ site.baseurl }}/get-started/consuming-badges">Understanding Open Badges</a></li>
      </ul>
    </li>

    <li class="menuitem"><a href="{{ site.baseurl }}/developers">Developers</a></li>

    <li class="menuitem"><a href="{{ site.baseurl }}/community">Community</a></li>

    <li class="menuitem"><a href="{{ site.baseurl }}/news">News</a></li>

    <li class="menuitem"><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
</nav>
<script type="text/javascript">
  function toggle_visibility(menugetstarted) {
    var e = document.getElementById(menugetstarted);
    if(e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
</script>