---
layout: default
---
<main class="l-twocol l-twocol-offset l-containerhorizontal l-containervertical-offsetlarge">
	
	<aside class="l-tableofcontents">
		<div>
			<h1 class="small tableofcontents-small">Table of Contents</h1>
			<button class="tableofcontentstrigger menu-button" aria-controls="tableofcontents"><span class="visuallyhidden">Toggle menu to</span> Make a selection</button>
			<ul id="tableofcontents" class="tableofcontents" aria-hidden="true">
				{% for item in page.navitems %}
					<li class="tableofcontentsitem"><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
      </aside>

	<article class="contentblock">


		<h1 class="title title-large">{{ page.title }}</h1>
		{{ content }}
	</article>
</main>
